<%= stylesheet_link_tag 'redmine_ouen_styles.css', :plugin => 'redmine_ouen', :media => 'all' %>

<%# "応援！"と"頑張れ"のカウントを表示する %>
<div id="redmine_ouen_box">
  <span class="ouen_good"><%= l(:field_ouen_good) -%>
    <%- if User.current.logged? -%>
      <%= link_to(issue.ouen_good.count,
            {:controller => 'ouens', :action => 'good', :content_type => 'issue', :content_id => issue.id},
             :method => :post, :confirm => l(:text_ouen_good_post)) -%>
    <%- else -%>
      <%= issue.ouen_good.count -%>
    <%- end -%>
  </span>
  <span class="ouen_more"><%= l(:field_ouen_more) -%>
    <%- if User.current.logged? -%>
      <%= link_to(issue.ouen_more.count,
            {:controller => 'ouens', :action => 'more', :content_type => 'issue', :content_id => issue.id},
             :method => :post, :confirm => l(:text_ouen_more_post)) %>
    <%- else -%>
      <%= issue.ouen_more.count -%>
    <%- end -%>
  </span>
</div>
